
.smallbutton {
    display: inline-block;
    border-radius: 4px;
    background-color: #377ba8;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 10px;
    padding: 5px;
    width: 50px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    align-content: center;
    align-self: end;
}


.button {
    display: inline-block;
    border-radius: 4px;
    background-color: #377ba8;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 15px;
    padding: 10px;
    width: 100px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    align-content: center;
    align-self: end;
}


.chatlog {
  align-self: left
}
