<!DOCTYPE html>
<html lang="en">
<head>
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
  <meta charset="UTF-8">
  <title>UserMainPage</title>
</head>

<body>
  <h1 style="text-align:center;">Welcome User {{username}}</h1>

  <div style="display: none;" id=userID>{{username}}</div>

  <form id="setNearby">
    Set Nearby Range: <input type="text" name="nearby" id="nearby">
    <input type="button" onclick="setNearby(document.getElementById('nearby').value)" value="Set">
  </form>

  <form id="inputchat">
    Write a Message to Your Building: <input type="text" name="message" id="message1">
    <input type="button" onclick="postMessageServerBuilding(document.getElementById('message1').value)" value="Send">
  </form>

  <form id="inputchat">
    Write a Message to People Near You: <input type="text" name="message" id="message2">
    <input type="button" onclick="postMessageServerNearby(document.getElementById('message2').value)" value="Send">
  </form>

  <form id="seeUsers">
    <input type="button" onclick="getNearbyUsers()" value="Show Nearby Users">
  </form>
  <div id=usersNear></div>

  <p>Chat:</p>
  <div id = "Chat"></div>
  <button onclick="clearInterval(timedlog)">Stop log</button>

  <script type='text/javascript' > 
  var token = -1; 
  var id = "{{username}}";
  </script>
  <script src="https://www.gstatic.com/firebasejs/5.7.2/firebase.js"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='messaging.js') }}"></script>
  <script type="text/javascript">

  var x;
  var y;
  var timedlog = setInterval(sendLog, 10000);
  
  window.onload = function() {
    getLocation();
  };

  function sendLog(){
    //getLocation();
    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function(){
      if (this.readyState == 4 && this.status == 200) {
        if(this.responseText == "TIMEOUT"){
          if (confirm("Timeout, press Ok to reload!")) {
            window.location.replace("/API/Users/Login");
          } else {
            window.location.replace("/");
          }
        }
        else if(this.responseText == "LOCUNDEFINED"){
          confirm("Undefined Location, please turn on Location Services!")
        }
      }
    };

    var req = "/API/Users/SendLog?UserID="+id+"&x="+x+"&y="+y;
    xhttp.open("GET",req, true);
    xhttp.send();
  }

  function postMessageServerBuilding(message1) {
    //var message = document.getElementById("message").value;
    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function(){
      if (this.readyState == 4 && this.status == 200) {
        if(this.responseText == "TIMEOUT"){
          if (confirm("Timeout, press Ok to reload!")) {
            window.location.replace("/API/Users/Login");
          } else {
            window.location.replace("/");
          }
        }
      }
    };

    var req = "/API/Users/"+id+"/MessageBuilding";
    //var req = "/API/Users/"+id+"/MessageNearby";
    xhttp.open("POST",req, true);
    xhttp.setRequestHeader("Content-Type", "application/json");

    xhttp.send(JSON.stringify({"message":message1}));
  }

  function postMessageServerNearby(message2) {
    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function(){
      if (this.readyState == 4 && this.status == 200) {
        if(this.responseText == "TIMEOUT"){
          if (confirm("Timeout, press Ok to reload!")) {
            window.location.replace("/API/Users/Login");
          } else {
            window.location.replace("/");
          }
        }
      }
    };

    var req = "/API/Users/"+id+"/MessageNearby";
    xhttp.open("POST",req, true);
    xhttp.setRequestHeader("Content-Type", "application/json");

    xhttp.send(JSON.stringify({"message":message2}));
  }

  function setNearby(nearby) {
    var xhttp1 = new XMLHttpRequest();
    var req = "/API/Users/"+id+"/SetNearby/"+nearby;
    xhttp1.open("GET",req, true);
    xhttp1.send();
    };

  function getNearbyUsers(){
    var xhttp = new XMLHttpRequest();
    var req = "/API/Users/"+id+"/Nearby";
    xhttp.open("GET",req, true);
    
    //document.getElementById("nearby").innerHTML = xhttp.response;
    //console.log(xhttp.responseText);
    
    xhttp.onreadystatechange = function() {
        if (xhttp.readyState == XMLHttpRequest.DONE) {
            s = decodeURIComponent(xhttp.responseText)
            alert(s);
            document.getElementById("usersNear").innerHTML = s
        }
    }
    
    xhttp.send(null);
  }

  function getLocation() {
  	var errorCallback;
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(showPosition,errorCallback,{timeout:1000});
    } else { 
      document.getElementById("divDest").innerHTML = "Geolocation is not supported by this browser.";
    }
  }

  function showPosition(position) {
    x = position.coords.latitude;
    y = position.coords.longitude;
  }

</script>
</body>
</html>